@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Raleway", "sans-serif", "serif"
}

html
{
    scroll-behavior: smooth;
}

.onglet a
{
    color: inherit;
    text-decoration: none;   
}
            /*Nav_bar*/
nav
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    max-width: 1840px;
}

nav a:hover
{
    border-top-color: #0065fc;
    color: #0065fc;
}

nav img
{
    margin-right: auto;
    padding: 0 58px;
    max-height: 80px;
}

nav a
{
    padding: 57px;
    border-top:3px solid transparent;
}

.onglet
{
    display: flex;
}

            /*Main*/

.master 
{
    padding: 0 32px;
    margin: 0 auto;
    max-width: 1840px;
}

            /*Search_bar*/

.barre
{
    display: flex;
}

.point_marker
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    background-color: #f2f2f2;
    border-radius: 16px 0 0 16px;
    cursor: pointer;
}

.point_marker:hover
{
    background-color: #d8d8d8;
}

.point_marker:active
{
    transform: scale(1.2);
}

.barre input
{
    border: 1px solid #f2f2f2;
    flex-basis: 236px;
    overflow: auto;
}

.barre input::placeholder
{
    font-weight: bold;
    color: #000000;
    padding-left: 16px;
}

button
{
    background-color: #0065fc;
    color: #ffff;
    font-size: 19px;
    font-weight: bold;
    border-radius: 0 16px 16px 0;
    border: none;   
    padding: 16px 16px;
    cursor: pointer;
    opacity: 0.9;
    transition: transform 200ms;
}

button:hover
{
    opacity:1;
    transform: scale(1.02);
}

button:active
{
    transform: scale(1.2);
}

.fas.fa-search
{
    display: none;
}

            /*Filtre*/

.logo_filtre i
{
    color: #0065fc;
    background-color: #deebff;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: -3px;

}

.category_filtre
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px 32px;
    margin: 24px 0 24px 0;
}

.logo_filtre span
{
    font-weight: bold;
    padding: 0 19px;
}

.logo_filtre:hover
{
    background-color: #f2f2f2;
    cursor: pointer;
    transform: scale(1.02);
}

.logo_filtre:active
{
    transform: scale(1.2);
}

.logo_filtre
{
    border: 2px solid lightgray;
    border-radius: 32px;
    display: flex;
    align-items: center;
    transition: all 200ms;
}

            /*Info*/

.info
{
    display: flex;
    align-items: center;
    gap: 32px;
}

.info i
{
    color: #0065fc;
    border: 1px solid lightgray;
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

            /*Structure_Screen_Hebergement*/

.body_main
{
    display: flex;
    gap: 16px;
    margin-bottom: 65px;
}

.body_main > div,
.famous_all_hebergement,
.all_hebergement
{
    background-color: #f2f2f2;
    border-radius: 16px;
    padding: 16px;
}

.body_main .all_hebergement
{
    flex-basis: 70%;
}

.body_main .famous_all_hebergement
{
    flex-basis: 30%;
}

.all_hebergement .info_supp
{
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

.all_hebergement .info_supp:hover
{
    text-decoration: underline;
}

            /*List_hebergement*/

.bloc_master_hebergement 
{  
    background-color: #f2f2f2;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 32px;
    margin-bottom: 16px;
}

.bloc_master_hebergement div
{   
    flex-basis: 25%;
}

            /*List_famous_hebergement*/

.body_main .famous_flex
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.famous_all_hebergement h2
{
    display: flex;
    justify-content: space-between;
}

.body_main h2
{
  margin-top: 16px;
}

            /*Vignette_hebergement*/

.blue
{
    color: #0065fc;
}

.grey
{
    color:#bdbdbd;
}

.bloc_hebergement
{
    padding: 8px;
    box-shadow: 0 0 16px #0000002e;
    background-color: white;
    border-radius: 16px;
    flex-grow: 1;
    transition: all 200ms ;
    cursor: pointer;
}

.bloc_hebergement:hover
{
    transform: scale(1.05);   
}

.bloc_hebergement:active:hover
{
    padding: 0;
    margin: 0;
    opacity: 1;
}

.bloc_hebergement img
{
    border-radius: 16px 16px 0 0;
    height: 160px;
    width: 100%;
    object-fit: cover;
}

.bloc_hebergement p,
.bloc_hebergement h3
{
    margin: 8px;
}

.famous_info_vignette p,
.famous_info_vignette h3
{
    margin: 0;
}

            /*Vignette_famous_hebergement*/

.famous_all_hebergement
{
    display: flex;
    flex-direction: column;
}

.famous_flex
{
    flex-basis: 100%;
    justify-content: space-evenly;
}

.bloc_hebergement_famous
{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    padding: 8px;
    box-shadow: 0 0 16px #0000002e;
    background-color: white;
    border-radius: 16px;
    max-height: 130px;
    min-height: 130px;
    transition: all 200ms;
    cursor: pointer;
}

.bloc_hebergement_famous:hover
{
    transform: scale(1.05);
}

.bloc_hebergement_famous:active:hover
{
    padding: 0;
    margin: 0;
    opacity: 1;
}

.famous_screen
{
    border-radius: 16px 0 0 16px;
    height: 100%;
    width: 40%;
    object-fit: cover;
    object-position: center;
}

.famous_info_vignette
{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0px 5px 10px;
}

.famous_info_vignette .star_famous 
{
    margin-top: auto;
}

            /* ACTIVITES A MARSEILLE ! */

.activites_list
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 420px));
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 32px;
    grid-auto-rows: minmax(160px, auto);
    justify-content: center;

}

.activites_list .act_mars
{
    border-radius: 16px;
    background-size: cover;
    display: flex;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: all 200ms ;
}

.activites_list > div:hover
{
    transform: scale(1.02);
}

.act_mars
{
    cursor: pointer;
}

.activites_list > div:active
{
    transform: scale(1.2);
}

.activites_list .large
{
    height: 480px;
}

.port
{
    background-image: url(images/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    grid-row: 1 / -1;
}

.fort
{
    background-image: url(images/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    grid-row: 1 / 4;
    grid-column: 2 / 3;
}

.frioul
{
    background-image: url(images/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg) ;
    grid-column: 2 / 3;
    grid-row: 4 / -1;
}

.calanques
{
    background-image: url(images/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    grid-column: 3 / 4;
    grid-row: 1 / -1;
}

.notre_dame
{
    background-image: url(images/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    grid-row: 1 / 3;
    grid-column: 4 / 4;
}

.longchamp
{
    background-image: url(images/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    grid-row: 3 / -1;
    grid-column: 4 / 4;
}


.activites_list h3
{
    background-color: #ffff;
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
    padding: 15px;
    border-radius: 0 0 16px 16px;
}

            /*Footer*/

footer
{
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    font-size: medium;
    
}

footer p
{
    cursor: pointer;
}

footer p:active
{
    color: #0065fc;
}

footer p:hover
{
    text-decoration: underline;
}

.bloc_footer
{
    margin: 36px;
    margin-left: -200px;
}


/* ~~~~~~~~~~~~~~~~~~~~   MEDIA RESPONSIVE   ~~~~~~~~~~~~~~~~~~ */

/* NAV_BAR */

@media(max-width:1280px)
{
    nav img
    {
    margin: auto;
    align-items: center;
    justify-content: center;    
    } 
    .onglet
    {
        order: 1;
        flex-basis: 100%;
    }
    
    .onglet a
    {
        flex-basis: 50%;
        text-align: center;
        border-bottom: 3px solid #f2f2f2;
    }

    nav a:hover
    {
        border-bottom-color:#0065fc;
        border-top-color: transparent;
    }
}

/* SEARCH_BAR */

@media (max-width: 1280px)
{
    .barre .search_txt
    {
        display: none;
    }
    .fas.fa-search
    {
        display: inline;
    }
    .barre button
    {
        border-radius: 16px 16px 16px 16px;
        margin-left: -13px;
    }
}

/* STRUCTURE_SCREEN_HEBERGEMENT */

@media (max-width: 1280px)
{
    .body_main
    {
        flex-direction: column;
    }

    .famous_all_hebergement
    {
        order: -1;
    }
}

@media (max-width:1280px)
{

    .body_main .famous_flex
    {
        flex-direction: row;
        gap: 12px;
    }
}

/* Mobile_version */

@media (max-width: 335px)
{
    .bloc_hebergement_famous
    {
        max-height: 280px;
    }
}

@media (max-width: 399px)
{
    .bloc_hebergement_famous
    {
        max-height: 180px;
    }

    nav a
    {
        padding: 21px;
    }
}

@media (max-width: 411px)
{
    .bloc_hebergement_famous
    {
        max-height: 144px;
    }

    .famous_screen
    {
        width: 28%;
    }
}

@media (max-width:850px)
{
    .bloc_master_hebergement
    {
        flex-direction: column;
    }
    .body_main .all_hebergement, .bloc_master_hebergement
    {
        background-color: #ffff;
    }    
}

/* ACTIVITES A MARSEILLE */

@media (max-width: 1280px)
{
    .activites_list .act_mars
    {
        grid-column: span 1;
        grid-row: span 1;
        grid-template-rows: repeat(3,1fr);
        height: 480px;
    }
    .activites_list
    {
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 992px)
{
    .activites_list .large
    {
        height: 270px;
    }
    .activites_list .act_mars
    {
        height: 270px;
    } 
}

@media (max-width: 768px)
{
    .activites_list .large
    {
        height: 270px;
    }
    .activites_list .act_mars
    {
        height: 270px;
    } 
}

/* FOOTER */

@media (max-width: 1280px)
{
    footer
    {
        gap: 130px;
        justify-content: space-evenly;
    }
    .bloc_footer
    {
        margin-left: 0px;
    }
}

@media (max-width: 880px)
{
    footer
    {
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }
    .bloc_footer 
    {
        margin: 5px 0px 0px 30px;
    }
}